{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Doctor Dashboard</title>
</head>
<body>
    <h2>Doctor Dashboard</h2>
    {% if user.profile_picture %}
            
            <img src="{{ user.profile_picture.url }}" alt="Profile Picture" style="max-width: 200px; max-height: 200px; border-radius: 50%;">
    {% endif %}
    <p>Welcome, {{ user.first_name }} {{ user.last_name }}!</p>
    <p>Email: {{ user.email }}</p>
    <p>Address: {{ user.address_line1 }}, {{ user.city }}, {{ user.state }} - {{ user.pincode }}</p>
    <a href="{% url 'logout' %}">Logout</a>

</body>
</html>
